header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  font-size: 30px;
  font-weight: bold;
  border-bottom: 1px solid #d3d6da;
}

.menu img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  cursor: pointer;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icons img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  width: 30px;
  height: 30px;
}
